*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header-black{
    background-color: rgb(211, 10, 161);
    padding: 5px;
}

#header-black nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-black nav ul li{
    width: 150px;    
}

#header-black nav ul li a{
    color: rgb(255,255,255);
    font-family: Arial;
    font-size: 8pt;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 100px;
}

#header-black nav ul li a:hover{
    color: rgb(255,255,50)
}

#menu{
    padding: 10px 30px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 5px 10px rgb(255, 16, 175);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu nav ul li{
    width: 150px;
    text-align: center;
}

#menu nav ul li a{
    text-decoration: none;
    color: #d60c93;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
.titulo-menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.usuario{
    padding: 5px 10px;
    background-color: rgb(241, 103, 149);
    color: #fff  !important;
    border: 1px solid rgb(29, 2, 18);
    border-radius: 7px;

}
#painel{
    background-image: url("https://library.austintexas.gov/library/styles/wide/public/images/large_rotator_1920x480%20copy%206-100.jpg?h=6017a063&itok=VHSbd82Y");
    margin-top: 7px;
    background-size: 100% ;
    padding-top:100px;
    height: 450px;
}
#painel form{
    margin-left: 100px;
    width: 300px;
    height: 36px;
    padding: 5px;
    border: 1px solid rgb(249, 14, 159);
    border-radius: 10px;
    display: flex;
    background-color: white;
}
#painel form input{
    border: 0px;
    width: 300px;
    margin-right: 5px;
    padding: 5px;
    outline: auto;

}
#painel form button{
    background-color: #dd1c8d;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
#painel form img{
    width: 20px;
    height: 20px;
}
main{
    margin: 50px auto;
    width: 80%;
}
#novidades , #maisvendidos{
    background-color: aliceblue;
    width: 80vw;
    overflow: hidden;
}
#livrosnovidades , #livrosmaisvendidos{
    background-color: white;
    display: flex;
    transition: ease 0.3s;


    
}
.livro{
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.livro img{
    width: 190px;
    height: 260px;
}
.livro h3{
    font-family: arial;
    margin-left: 5px;
}
.livro .preco{
    font-family: arial;
    margin-left: 5px;
    color: rgb(255, 3, 213);
    font-weight: bold;
    font-size: 10pt;
}
#livrosnovidades div button{
    width: 100%;
    border: 1px solid rgb(255, 0, 128);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#livrosnovidades div button img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
#livrosnovidades div button p{
    font-size: 8pt;
    color: rgb(250, 0, 208)
}
#livrosnovdades h2, #livrosnovidades h2{
    font-family: tahoma;
    font-size: 15pt;
}
.txtnovidades{
    font-family: tahoma;
    font-size: 10pt;
    word-spacing: 10px;
    margin: 5px;
    
}
 .seta-esquerda{
    width: 35px;
    position: relative;
    top: -218px;
    left: -50px;

}
 .seta-direita{
    width: 35px;
    position: relative;
    top: -220px;
    right: -1168px;
    

}
 .seta-direita:hover{
    transform: scale(1.1);
}

#autores h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: lighter;
    font-size: 20pt;
    font-style: italic;
    margin: 50px 0px 10px 0px;


}
.txtautores{
    font-family: 'Franklin Gothic Medium';
    font-size: 15pt;
    text-align: center;
    font-style: italic;
    margin: 10px;
}
.autor img{
    width: 300px 300px ;
    height: 300px;
    border-radius: 700%;
    margin-left: 20px;
    margin-right: 20px;
    transition:  ease 1s;
    filter: blur(1px);


}
.autor img:hover{
    cursor: pointer;
    transform: rotate(360deg);
    filter: blur(0px);
}
#livrosautores{
    display: flex;
    justify-content: center;
    align-items: center;
}
.autor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

footer{
    height: 300px;
    padding: 50px;
    background-color: #db87b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#endereco {
    color: #fff;
    font-family: Arial;
    font-size: 12pt;
    line-height: 18pt;
}
#menufooter nav ul{
    list-style: none;
}
#menufooter nav ul li a {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 5px;

}
#redes-pagamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#redes img {
    width: 18px;
    height: 18px;
    margin: 10px;

}


#lstlivros{
    display: flex;
    flex-wrap: wrap;
}
.livesporte, 
.livficcao, 
.livromance, 
.livfantasia, 
.livinfantil{
    width: 23%;
    margin: 10px;
}
.livesporte img,
.livficcao img, 
.livromance img, 
.livfantasia img, 
.livinfantil img{
    width: 100%;
    height: 280px;
}
.livesporte h3,
.livficcao h3, 
.livromance h3, 
.livfantasia h3, 
.livinfantil h3{
    font-family: 'Lucida Sans';
    font-size: 12pt;
}
.livpreco{
    font-family: 'Lucida Sans';
    font-size:10pt;
    font-weight: bold;
    color: rgb(46, 3, 3)

}
.livesporte a,
.livficcao a, 
.livromance a, 
.livfantasia a, 
.livinfantil a{
    font-family: 'Lucida Sans';
    font-size: 10pt;
    text-decoration: none;
}




#detalhes {
    display: flex;
    padding: 50px;
}
#div_capa img {
    width: 300px;
    height: 400px;
}
#div_miniatura{
    display: flex;
    justify-content: space-around;
}
#div_miniatura img{
    width: 50px;
    height: 70px;
}

#div_titulo_descricao{
    padding: 0px 10px;
}
#div_titulo_descricao h3{
    font-family: 'Lucida Sans';
    font-size: 20pt;
    margin-bottom: 30px;
}

#div_titulo_descricao p{
    font-family: Arial;
    line-height: 20px; 
}
#div_carrinho{
    text-align: right;
}
#div_carrinho p{
    font-family: Tahoma;
    font-size: 20pt;
    color: #ff00aa;
    margin-bottom: 100px;
    font-weight: bold;

}
#div_carrinho button{
    width: 200px;
    background-color: #db59a7;
    color: black;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 10px;
}

#div_qtd_itens{
    background-color: #db59a7;
    color: #fff;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 9pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-40px;
    left: 85px;
    display: none;

}
.img_usuario{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}